<footer class="footer">
    <div class="container-default">
        <div class="footer-grid">
            <div class="footer-column">
                <a href="/" target="_blank" rel="noopener noreferrer" title="home"
                    class="footer-logo-container mg-bottom-24px w-inline-block w--current">
                    <img src="./assets/img/header.png" alt="home header" class="footer-logo" />
                </a>
                <p class="mg-bottom-32px">{{footerDescription}}</p>
                <div class="social-links-wrapper">
                    <a href="{{jasonPlays.twitterLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-twitter" title="twitter"></a>
                    <a href="{{jasonPlays.discordLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-discord" title="discord"></a>
                    <a href="{{jasonPlays.youtubeLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-youtube" title="youtube"></a>
                    <a href="{{jasonPlays.facebookLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-facebook" title="facebook"></a>
                    <a href="{{jasonPlays.twitchLink}}" target="_blank" rel="noopener noreferrer"
                        class="social-link icon-twitch" title="twitch"></a>
                </div>
            </div>
            <div class="footer-column"></div>
            <div class="footer-column hidden">
                <small>
                    Stats for Geeks:<br />

                    First Upload: 3/20/2017<br />
                    1000 Videos: 8/23/2019<br /><br />

                    1,000,000 Total Channel Views: 6/30/2019<br />
                    5,000,000 Total Channel Views: 1/12/2020<br />
                    10 Million Total Channel Views: 6/2/2020<br />
                    20 Million Total Channel Views: 3/4/2021<br />
                    30 Million Total Channel Views: 5/10/2022<br /><br />

                    1,000 Subscribers: 9/3/2018<br />
                    10K Subscribers: 8/12/2019<br />
                    20K Subscribers: 8/28/2019<br />
                    50K Subscribers: 5/5/2020<br />
                    100K Subscribers: 10/6/2020
                </small>
            </div>
        </div>
        <div class="divider bg-neutral-600"></div>
        <div class="footer-bottom-content">
            <div>Copyright © JasonPlays - {{version}} - Designed by <a href="https://nmsassistant.com/" target="_blank"
                    rel="noopener noreferrer" title="AssistantNMS">AssistantNMS</a></div>
        </div>
    </div>
</footer>